include ./layout

block content
    div.container
        h2 Demo
        p 
            | After uploading initial data (
            a(href="/files/csv-template.csv") example
            | ) you will get the following result:
        h4 Demo results
        p Mean absolute percentage error (MAPE): 0.07
        p Mean square deviation: 
            ul
                li for forecasted sales (last 52 weeks): 4091.33
                li for actual sales (input data): 3400.84
        div.result-btns
            div
                div.chart-btn.active Chart
                div.table-btn Table
            div
        div.result-container
            div#container
            div.demo-table-wrapper.hidden
                table.table.table-bordered.table-sm#demo-table
                    tr
                        th Week ISO
                        th Sales, UAH
                        th Weighted average
                        th Seasonal coefficient
                        th Period number, x
                        th Sales cleared from seasonality, UAH
                        th Trend, UAH
                        th Forecast, UAH
                    for item in tableData
                        tr
                            td #{item.weekISO}
                            td #{item.sales}
                            td #{item.weigtedAvg}
                            td #{item.seasCoef}
                            td #{item.perNum}
                            td #{item.clearSales}
                            td #{item.trend}
                            td #{item.forecast}
        script.
            var data = !{chartData};