include ./layout

block content
	div.container
		h2 Step 1
		p Click <a href="#">here</a> to download a template for uploading. Requirements to the file:
		ol
			li *.csv extension;
			li ';' (semicolon) delimeter;
			li Contains at least 102 rows (excluding headers) with data.
		h2 Step 2
		form(action="/get-start/upload", method="POST", encType="multipart/form-data")
			div.form-group
				label.custom-button
					input(type="file", name="csv", accept="*.csv")
					i.fas.fa-cloud-upload-alt
					div Upload a file...
				div.msg-upload
					if uploadErr
					span= uploadErr
				div
					button(type="submit" disabled).btn.btn-secondary#upload Upload
		h2 Step 3 
		form(action="/get-start/calc", method="POST")
			button(type="submit").custom-button 
				i.fas.fa-chart-line
				div Calculate
			div.msg-calc
				if calcErr
				span= calcErr
		h2 Get result
		div.result-btns
			div
				div.chart-btn.active Chart
				div.table-btn Table
			div
				form(action="/get-start/clear", method="POST")
					button(type="submit").btn.btn-danger Clear results
		div.result-container
			div#container
			div.demo-table-wrapper.hidden
				table.table.table-bordered.table-sm#result-table
					tr
						th Week ISO
						th Sales, UAH
						th Weighted average
						th Seasonal coefficient
						th Period number, x
						th Sales cleared from seasonality, UAH, y
						th Trend, UAH
						th Forecast, UAH
					for item in tableData
						tr
							td #{item.weekISO}
							td #{item.sales}
							td #{item.weightedAvg}
							td #{item.seasCoef}
							td #{item.perNum}
							td #{item.clearSales}
							td #{item.trend}
							td #{item.forecast}
		script.
			var data = !{chartData};
			
